/**
 * 简单标题栏
 */
#simple_title
{
    width:640px;
    height:88px;
    background-color: #5baef5;
    
    #back
    {
        float: left;
        width: 88px;
        height: 88px;
        background-image: url(/resource/back.png);
        background-repeat: no-repeat;
        background-size: 50px 50px;
        background-position: 15px 19px;
        
    }
    
    #back:hover
    {
        -webkit-filter:brightness(90%);
                filter:brightness(90%);
    }
    
    #title
    {
        float: left;
        width: 464px;
        height: 88px;
        
        color: #FFF;
        text-align: center;
        line-height: 88px;
        font-size: 32px;
    }
}
