/**
 * 简单按钮 
 */
#simple_button
{
    width: 560px;
    height: 80px;
    background: #5baef5;
    border-radius: 4px;
    
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    color: #FFF;
}
